body{
    background-color: bisque;
    margin:0;
    padding:0;
}
h1{
    background-color: red;
    color: white;
    padding: 10px;
    margin: 0;
}
div{
    width: 500px;
    border: 1px solid white;
    margin-top: 30px;
    margin-left: 30%;
}
img{
    width: 500px;
}