<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>

    <div class="fixed">
        <br>
        <h1>당뇨병 자가진단</h1><br>
        <h5 style="font-weight: 300;">2학년 4반 1조</h5>
        <br><br>
            <img class="mid-img" src="https://sdgs.un.org/sites/default/files/goals/E_SDG_Icons-03.jpg" alt="">
        <br><br>
        <p>
            주제: AI를 활용한 자가진단 웹사이트 만들기<br>
            저희는 SDGs의 17가지 목표 중 3번, 건강과 웰빙에 대한 주제를 선정하였습니다.
            팬데믹에 코로나 때문에 야외에 나가는게 거의 불가능한 상황에 건강 관련하여 운동 부족, 
                스트레스와 같은 질환이 같은 질환이 생기는 것을 보았습니다.
            이와 관련된 질환은 대사질환으로 넘어가 당뇨병을 유발하게 된다는 것을 알게 되어 당뇨병에 대해 프로젝트를 진행하게 되었습니다.
            
            
        </p>
            <button type="submit" id="N1">확인</button><br><br><br>
    </div>
    
</body>
<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
</html>